body{
    display: block;
    background: rgb(217, 255, 0);
    color: black;
    background: white url("./img/rutas.jpg")  repeat;
    
    
}
.wrapper{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    max-width: 1024px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    

}

    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 1em;
        border-bottom: 5px linear-gradient(180deg, black, white);;
        border-bottom:  2PX ORANGE outset;
       
    
    }


            header .brand{
            
               
                text-align: right;
                justify-content: end;
                color: red;
                font-family: 'open Sans', 'Sans-serif';
                font-size: 2em;
                /* padding: 1em; */
                padding-left: 1em;
            }
            header span{

               
                color: orange;
                font-family: 'open Sans', 'Sans-serif';
                font-size: 5em;
                padding-top: 0em;
                padding-left: 1em;
                padding: auto;
                text-align: center;
                display: inline-block;
            }
            
            header span p{
                display: inline;
                
                color: red;
                

            }
            
            header img{
              
                padding-top: 1em;
                padding-left: 1em;
                padding-right: 1em;
                
            }

        #lingua{
            min-height: 200px;
            margin-top: 2em;
            /* width: 200px; */
            /* border: black solid; */
            background: white url("./img/Portüges.png") center no-repeat;
            border-bottom:2px red outset;
            
        }
            

           

    main{
        display: flex;
        flex-direction: row-reverse;
        overflow: hidden;
        
        padding: 1.5em;
    
    }



        aside {
            /* display: block; */
            background-color: wheat;
            padding-left: 1em;
            box-sizing: border-box;
            float: right;
            width: 80%;
            height: auto;
    
        }

        aside section h4{
            display: inline;
            background-color: #e1eb95;
            color: orange;
            padding:0em;
            margin: 0;
            font-size: 1.5em;
            
        }

        aside ul{
            list-style:none;
            margin: 0;
            padding: 0;
            
        }
        aside a{
            font-size: 1em;
            padding:0  0;
            display: block;
        }

        #Gramatik{
           
            padding-right: 15px;
            /* border-bottom: outset; */
            padding-top: 10px;
            padding-left: 0px;
           
        }

      

    
        #blogContent{
            display: flex;
            width: 80%;
            padding-top: 1.5em;
        }



        article{
            
            color:black;
            padding: 0;
            /* border: black solid ; */
            margin-bottom: 1em;
            margin-top: 1em;
            padding: 0.1em;
        } 

            h2{
                margin-bottom: 0;
                font-size:1 em;
                color: orange;
                text-align: left;
            }
            article span{
                justify-self: baseline;
                font-size: 1em;
                color:black;
            } */
            
            article p{
                color: orange;
            }
            h3{
                margin-bottom: 0em;
                margin-top: 0em;
                font-size:1 em;
                color: orange;
                text-align: left; 
            }

             div.gallery img {
                width: 100%;
                height: auto;
            }   

            div.gallery:hover {
                border: 1px solid #777;
              }


.video{
    display: flex;
    justify-content: center;
    /* border: 1px red solid; */
    /* border-radius: 30px; */
    /* width: 400px; */
    /* height: 300px; */
}


.links{
    padding-left: 4%;
    /* border: black outset; */
}






    footer{
    text-align: center;
    padding: 1em;
    font-size: 0.9em;
    clear: both;
    
}